<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="../static/css/swiper-bundle.min.css" />

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="../static/image/empanada.png" type="image/x-icon">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../static/css/product.css">

    <title>Productos</title>
</head>

<body>
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <div class="header__border"></div>

        <nav class="nav container">
            <a href="/home_page" class="nav__logo">
                <img src="../static/image/LOGO.png" alt="img_logo">
                Bendita Empanada
            </a>

            <div class="nav__menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#carrusel" class="nav__link active-link">
                            <i class="ri-home-smile-2-fill"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#productos" class="nav__link">
                            <i class="ri-suitcase-fill"></i>
                            <span>Productos</span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#contact" class="nav__link">
                            <i class="ri-chat-smile-3-fill"></i>
                            <span>contactos</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!--==================== MAIN ====================-->
    <main class="main">
        <!--==================== HOME ====================-->
        <section class="carrusel section" id="carrusel">
            <div class="container section__border">
                <div class="carrusel__container swiper">
                    <div class="swiper-wrapper">
                        <!--==================== PROJECT 1 ====================-->
                        <div class="carrusel__content swiper-slide">
                            <img src="../static/image/1-image.jpg" alt="carrusel imge" class="carrusel__img">

                        </div>

                        <!--==================== PROJECT 2 ====================-->
                        <div class="carrusel__content swiper-slide">
                            <img src="../static/image/2-image.jpg" alt="carrusel imge" class="carrusel__img">

                        </div>

                        <!--==================== PROJECT 3 ====================-->
                        <div class="carrusel__content swiper-slide">
                            <img src="../static/image/3-image.jpg" alt="carrusel imge" class="carrusel__img">
                        </div>
                    </div>

                    <!--Swiper arrows-->
                    <div class="swiper-button-next">
                        <i class="ri-arrow-right-s-line"></i>
                    </div>
                    <div class="swiper-button-prev">
                        <i class="ri-arrow-left-s-line"></i>
                    </div>

                    <!--Swiper paginacion-->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>
        <!--==================== PRODUCTS ====================-->
        <section class="products" id="productos">
            <div class="products__bg section">
                <div class="products__container container grid">           
                    <div class="products__content">
                        <article class="products__card">
                            <img src="../static/image/coffe2.png" alt="1.img" class="products__img">
                            <h3 class="products__name">Coffee</h3>
                            <span class="products__price">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Cum maxime quidem nobis et. Quia sapiente eos porro tempora
                                aliquid ab, possimus sunt ut dicta magnam nulla quae ducimus veniam saepe.
                            </span>
                        </article>

                        <article class="products__card">
                            <img src="../static/image/empanada5.png" alt="2.img" class="products__img">
                            <h3 class="products__name">Empanada Memorial</h3>
                            <span class="products__price">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Cum maxime quidem nobis et. Quia sapiente eos porro tempora
                                aliquid ab, possimus sunt ut dicta magnam nulla quae ducimus veniam saepe.
                            </span>
                        </article>

                        <article class="products__card">
                            <img src="../static/image/empanada6.png" alt="3.img" class="products__img">
                            <h3 class="products__name">Empanada Tradicional</h3>
                            <span class="products__price">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Cum maxime quidem nobis et. Quia sapiente eos porro tempora
                                aliquid ab, possimus sunt ut dicta magnam nulla quae ducimus veniam saepe.
                            </span>
                        </article>

                        <article class="products__card">
                            <img src="../static/image/coffe3.png" alt="1.img" class="products__img">
                            <h3 class="products__name">Coffee</h3>
                            <span class="products__price">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Cum maxime quidem nobis et. Quia sapiente eos porro tempora
                                aliquid ab, possimus sunt ut dicta magnam nulla quae ducimus veniam saepe.
                            </span>
                        </article>

                        <article class="products__card">
                            <img src="../static/image/empanada8.png" alt="2.img" class="products__img">
                            <h3 class="products__name">Empanada Memorial</h3>
                            <span class="products__price">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Cum maxime quidem nobis et. Quia sapiente eos porro tempora
                                aliquid ab, possimus sunt ut dicta magnam nulla quae ducimus veniam saepe.
                            </span>
                        </article>

                        <article class="products__card">
                            <img src="../static/image/saludo.png" alt="3.img" class="products__img">
                            <h3 class="products__name">Empanada Tradicional</h3>
                            <span class="products__price">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Cum maxime quidem nobis et. Quia sapiente eos porro tempora
                                aliquid ab, possimus sunt ut dicta magnam nulla quae ducimus veniam saepe.
                            </span>
                        </article>
                    </div>
                </div>
            </div>
        </section>


        <!--==================== CONTACT ====================-->
        <section class="contact section__i" id="contact">
            <div class="contact_bg">
                <img src="../static/image/coffee-beans-bg.png" alt="bg-img" class="footer__bg-img">
                <div class="contact__container container grid">
                    <div class="footer__content grid">
                        
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d254508.51641088128!2d-74.24789555365011!3d4.648283716997258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9bfd2da6cb29%3A0x239d635520a33914!2zQm9nb3TDoQ!5e0!3m2!1ses-419!2sco!4v1676254602717!5m2!1ses-419!2sco"
                            allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>

                        <div class="footer__social">
                            <a href="" target="_blank" class="footer__social-link">
                                <i class="ri-whatsapp-line"></i>
                            </a>

                            <a href="" target="_blank" class="footer__social-link">
                                <i class="ri-mail-line"></i>
                            </a>

                            <a href="" target="_blank" class="footer__social-link">
                                <i class="ri-facebook-box-fill"></i>
                            </a>

                            <a href="" target="_blank" class="footer__social-link">
                                <i class="ri-twitter-fill"></i>
                            </a>
                            <a href="" target="_blank" class="footer__social-link">
                                <i class="ri-instagram-line"></i>
                            </a>
                        </div>            
                    </div>
                    <span class="footer__copy">
                        &#169; Copyright BenditaEmpanada. All rights reserved
                    </span>
                </div>
               
            </div>
        </section>
    </main>

    <script src="../static/js/swiper-bundle.min.js"></script>

     <!--=============== MAIN JS ===============-->
 <script src="../static/js/main.js"></script>

    <!--=============== EMAIL JS ===============-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

    <!--========== SCROLL UP ==========-->
        <a href="#carrusel" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-line"></i>
        </a>
    <!--=============== SCROLLREVEAL ===============-->
    <script src=""></script>

    <!--=============== MAIN JS ===============-->
    <script src="../static/js/main.js"></script>
        <!--=============== SWIPER JS ===============-->
 
 
</body>

</html>